@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  html {
    box-sizing: border-box;

  }

  *,
*::before,
*::after {
  box-sizing: inherit;
}



.page-wrapper {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
}

.visually-hidden {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
}

body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 22px;
    line-height: 26px;
    background-color: #F2F2F2;
    margin: 0;

}

button {
    font-family: inherit;
    text-decoration: none;
    text-transform: uppercase;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}



.main-nav {
    display: flex;
    min-height: 64px;

    margin: 0 auto;
    padding-left: 70px;
    padding-right: 70px;
}

.nav-link {
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;

}

.nav-list {
    margin: 0;
    margin-left: 30px;
    padding: 0;
    display: flex;
    max-width: 60%;
    flex-wrap: wrap;
}

.buttons-nav-list {
    margin-left: auto;
    display: flex;
    align-self: center;
}

.nav-list-item {
    margin: 0 ;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
}

.nav-list-item.icon {
    padding: 22px 12px;


}

.want-button {
    background-color: #756157;
    color: white;
    font-size: 16px;
    line-height: 20px;
    display: block;
    padding: 8px 34px;
    border-radius: 4px;
}

.want-button:hover {
  background-color: #615048;
}

.want-button:focus {
  background-color: #615048;
}

.want-button:active {
 background-color: #756157;
 color: rgba(255, 255, 255, 0.3);
}

.want-button:disabled {
  background-color:  #E5E5E5;
  color: #ffffff;
}

.promo {
    text-align: center;

}

.container {
    background-image: url(../images/divider.png), url(../images/index-background-1.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0 428px, 0 0;
    display: flex;
    align-self: center;
    justify-content: center;
    padding-top: 51px;
    padding-bottom: 82px;
}


.advantages-all {
  padding-top: 103px;
  padding-left: 112.5px;
  padding-right: 112.5px;
  padding-bottom: 121px;



}

.advantages-title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
    margin-bottom: 62px;

}

.advantages-description {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
    margin: 0;
}

.advantages-list-title {
    font-size: 24px;
    line-height: 28px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 62px;
    margin-top: 0;

}

.advantages-list-description {
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}

.advantages-wrap {
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 92px;
  width: 400px;
  background-color: #82B3D3;
  color: white;



}

.advantages-list {
    text-align: center;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 384px 384px 384px;
    margin: 0;

}


.advantages-list-item {
    width: 400px;
}

.advantages-list-item-img {
  width: 100%;
  display: flex;
  grid-column: 1/-1;
}

.img-block {
    object-fit: cover;
}


.divider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 275px;
  padding-right: 274px;
  padding-bottom: 90px;
  padding-top: 69px;
}

.divider-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 25px;
}


.divider-description {
    margin: 0;
    font-size: 22px;
    line-height: 26px;
}

.advantages-list-item:nth-child(2n) {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list-item:nth-child(3) {
    background-color: rgba(131, 179, 211, 0.2);
}

.features-list {

    display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 384px;
}

.features-list-item {
    width: 400px;
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 182px;
    padding-bottom: 81px;
    text-align: center;
}

.features-list-item:nth-child(3n+1) {
    background-image: url(../images/house.svg);
    background-repeat: no-repeat;
    background-position: 50% 30%;
    background-color: rgba(131, 179, 211, 0.12);
}

.features-list-item:nth-child(3n-1) {
    background-image: url(../images/food.svg);
    background-repeat: no-repeat;
    background-position: 50% 30%;
}

.features-list-item:nth-child(3n) {
    background-image: url(../images/gift.svg);
    background-repeat: no-repeat;
    background-position: 50% 30%;
    background-color: rgba(131, 179, 211, 0.12);
}

.features-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    margin: 0;
    margin-bottom: 30px;


}

.features-description {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    text-align: center;
    margin: 0;
}

.hotel-search {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 304px;
    padding-right: 304px;
    padding-top: 96px;
    padding-bottom: 96px;

}

.hotel-title {
    margin: 0;

    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    color: #000000;

}

.hotel-description {
    margin: 0;
    margin-top: 20px;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
}

.hotel-button {
    padding: 0;
    margin: 0;
    color: white;
    background-color: #756157;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    margin-right: 412px;
    margin-left: 412px;
    margin-top: 54px;
    white-space: nowrap;
    padding: 8px 50px;
    border-radius: 4px;
}

.hotel-button:hover {
  background-color:  #615048;
}

.hotel-button:focus {
 background-color: #615048;
}

.hotel-button:active {
 background-color: #756157;
 color: rgba(255, 255, 255, 0.3);
}

.hotel-button:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.newsletter {
    text-align: center;
    color: white;
    background-image: url(../images/index-background-2.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-left: 258px;
    padding-right: 258px;
    padding-bottom: 104px;
    padding-top: 96px;
}

.newsletter-title {
    margin: 0;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    color: #ffffff;

}

.newsletter-description {
    margin: 0;
    font-size: 22px;
    line-height: 26px;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 54px;
}

.form {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

input {
  background-color: #F2F2F2;
  width: 452px;
  height: 52px;
  margin: 0;
}

.button-subscribe {
    color: white;
    background-color: #82B3D3;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    padding: 0;
    padding: 8px 50px;
    width: 232px;
    height: 52px;
}

.button-subscribe:hover {
  background-color: #68A2CA;
}

.button-subscribe:focus {
  background-color: #68A2CA;
}

.button-subscribe:active {
  background-color:  #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 30px;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  margin: 5px;
}


.socials-item {
    width: 40px;
    height: 40px;
}


.socials-link:hover svg path {
  fill: #68A2CA;
}

.socials-link svg path {
  fill: #68A2CA;
}

.socials-link:active svg path {
  fill: rgba(104, 162, 202, 0.3);
}


.phone {
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
    text-align: center;
}


.phone:hover {
  color: #756157;
}

.phone:active {
  color:  rgba(117, 97, 87, 0.3);
}

.phone:focus {
  color: #756157;
}

.site-link:hover svg path {
  fill: #756157;
}

.site-link:focus svg path {
  fill: #756157;
}

.site-link:active svg path {
  fill: rgba(117, 97, 87, 0.3);
}

