/* * Prefixed by https://autoprefixer.github.io * PostCSS: v8.4.14, * Autoprefixer: v10.4.7 * Browsers: last 4 version */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
body {
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #F2F2F2;
  margin: 0;
}
.current {
  border-bottom: 2px solid #756257;
}
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 64px;
  padding-left: 240px;
  padding-right: 70px;
  position: relative;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.logo {
  position: absolute;
  top: 0;
  left: 70px;
}
.logo.img {
  display: block;
}
.nav-link {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  padding-top: 20px;
  padding-bottom: 18px;
  display: block;
}
.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 60%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.buttons-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.buttons-nav-item {
  padding: 22px 12px;
  font-family: inherit;
  text-decoration: none;
  text-transform: uppercase;
}
.buttons-nav-item.button {
  padding: 14px 0;
  margin-left: 20px;
}
.buttons-nav-link {
  text-decoration: none;
  display: block;
  height: 20px;
}
.buttons-nav-link.svg {
  height: 20px;
  width: 20px;
}
.nav-list-item {
  padding: 0;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0;
}
.want-button {
  background-color: #756157;
  color: white;
  font-size: 16px;
  line-height: 20px;
  display: block;
  padding: 8px 34px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
}
.want-button:hover {
  background-color: #615048;
}
.want-button:focus {
  background-color: #615048;
  outline: none;
}
.want-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}
.fav-icon {
  position: relative;
}
.fav {
  background-color: #7DB54F;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
  line-height: 10px;
  font-size: 10px;
  position: absolute;
  top:-10px;
  right: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.promo {
  text-align: center;
}
.container {
  background-color: rgba(37, 91, 126, 0.12);
  background-image: url(../images/divider.png), url(../images/index-background-1.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0 428px, 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 51px;
  padding-bottom: 82px;

}
.advantages-all {
  padding-top: 103px;
  padding-left: 85px;
  padding-right: 85px;
  padding-bottom: 121px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.advantages-title::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 60px;
  height: 2px;
  background-color: rgba(0,0 , 0, 0.3);
}
.advantages-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  position: relative;
  max-width: 175px;
  margin-bottom: 30px;
  padding-bottom: 32px;
}
.advantages-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 0;
}
.advantages-list-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 30px;
  padding-bottom: 32px;
  margin-top: 0;
  padding-left: 27.5px;
  padding-right: 27.5px;
  position: relative;
}
.advantages-list-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.advantages-list-description {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin: 0;
}
.advantages-wrap {
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 92px;
  padding-bottom: 92px;
  width: 400px;
  background-color: #82B3D3;
  color: white;
}
.advantages-list {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 400px 400px;
  grid-template-columns: 400px 400px 400px;
  -ms-grid-rows: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  margin: 0;
  padding: 0;
  list-style: none;
 ;
}
.advantages-list > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.advantages-list > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.advantages-list > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.advantages-list > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.advantages-list > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.advantages-list > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.advantages-list > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.advantages-list > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.advantages-list > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.advantages-list-item {
  padding: 0;
  min-height: 384px;
  margin: 0;
}
.advantages-list-item-img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: 1/-1;
}
.img-block {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  display: block;
}
.divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 275px;
  padding-right: 274px;
  padding-bottom: 90px;
  padding-top: 69px;
}
.divider-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 25px;
}
.divider-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
.advantages-list-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-list-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}
.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 400px 400px;
  grid-template-columns: 400px 400px 400px;
  -ms-grid-rows: 384px;
  grid-template-rows: 384px;
}
.features-list > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.features-list > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.features-list > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.features-list-item {
  width: 400px;
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 182px;
  padding-bottom: 81px;
  text-align: center;
}
.features-list-item:nth-child(3n+1) {
  background-image: url(../images/house.svg);
  background-repeat: no-repeat;
  background-position: 50% 80px;
  background-color: rgba(131, 179, 211, 0.12);
}
.features-list-item:nth-child(3n-1) {
  background-image: url(../images/food.svg);
  background-repeat: no-repeat;
  background-position: 50% 80px;
  background-color: rgba(131, 179, 211, 0.12);
}
.features-list-item:nth-child(3n) {
  background-image: url(../images/gift.svg);
  background-repeat: no-repeat;
  background-position: 50% 80px;
  background-color: rgba(131, 179, 211, 0.12);
}
.features-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}
.features-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: center;
  margin: 0;
}
.hotel-search {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 304px;
  padding-right: 304px;
  padding-top: 96px;
  padding-bottom: 96px;
}
.hotel-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}
.hotel-description {
  margin: 0;
  margin-top: 20px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
.hotel-button {
  padding: 0;
  margin: 0;
  color: white;
  background-color: #756157;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  margin-top: 54px;
  white-space: nowrap;
  padding: 8px 50px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  text-decoration: none;
  text-transform: uppercase;
}
.hotel-button:hover {
  background-color: #615048;
}
.hotel-button:focus {
  background-color: #615048;
  outline: none;
}
.hotel-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}
.hotel-button:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}
.newsletter {
  text-align: center;
  color: white;
  background-color: rgba(15, 73, 112, 0.12);
  background-image: url(../images/index-background-2.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-left: 258px;
  padding-right: 258px;
  padding-bottom: 104px;
  padding-top: 96px;

}ж
.newsletter-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}
.newsletter-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 54px;
}
.newsletter-input {
  margin: 0;
}
.form {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.email {
  background-color: #F2F2F2;
  width: 452px;
  height: 52px;
  margin: 0;
  border: none;
  border-radius: 4px 0px 0px 4px;
  padding-top: 18px;
  padding-bottom: 14px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  outline: none;
  font-family: "PT Sans", "Arial", sans-serif;
}
.email:hover {
  background-color: #E6E6E6;
}
.email:focus {
  background-color: #E6E6E6;
  border: 3px solid #83B3D3;
  outline: none;
}
.email:active {
  border: 2px solid #000000;
  background-color: #F2F2F2;
}
.button-subscribe {
  color: white;
  background-color: #82B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 0;
  padding: 8px 50px;
  width: 232px;
  height: 52px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 0px 4px 4px 0px;
  font-family: inherit;
  text-decoration: none;
  text-transform: uppercase;
}
.button-subscribe:hover {
  background-color: #68A2CA;
}
.button-subscribe:focus {
  background-color: #68A2CA;
  outline: none;
}
.button-subscribe:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}
.button-subscribe:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 44px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 35px;
}
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 30%;
  margin: 5px;
  gap: 7px;
  list-style: none;
  padding: 0;
}
.socials-item {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.socials-link:hover svg path {
  fill: #68A2CA;
}
.socials-link:active svg path {
  fill: rgba(104, 162, 202, 0.3);
}
.phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}
.site-link {
  padding-top: 4.5px;
}
.phone:hover {
  color: #756157;
}
.phone:active {
  color: rgba(117, 97, 87, 0.3);
}
.phone:focus {
  color: #756157;
  outline: none;
}
.site-link:hover svg path {
  fill: #756157;
}
.site-link:focus svg path {
  fill: #756157;
  outline: none;
}
.site-link:active svg path {
  fill: rgba(117, 97, 87, 0.3);
}
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none;
}
.modal-container_open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal {
  position: relative;
  background-color: #ffffff;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 64px;
  padding-bottom: 64px;
  border-radius: 30px;
  width: 717px;
}
.modal-close-button {
  position: absolute;
  padding: 19.49px;
  border-radius: 50%;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;
  border: none;
  background-image: url(../images/modal-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  font-family: inherit;
  text-decoration: none;
  text-transform: uppercase;
}
.modal-close-button:hover {
  background-color: #E6E6E6;
}
.modal-close-button:focus {
  background-color: #E6E6E6;
  border: 3px solid #83B3D3;
  outline: none;
}
.modal-close-button:active {
  opacity: 0.3;
}
.modal-title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 64px;
}
.field-group {
  margin-bottom: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.field-group-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 23px;
}
label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  margin-top: 12px;
  white-space: nowrap;
}
.in-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 24px;
}
.in-container svg {
  opacity: 0.3;
}
.out-container svg {
  opacity: 0.3;
}
.out-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 19px;
}
.quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 78;
}
.input-in {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding-right: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  border: 3px solid transparent;
}
.input-in:hover, .input-out:hover {
  background: #E6E6E6;
}
.input-in:focus, .input-out:focus {
  background: #E6E6E6;
  border: 3px solid #83B3D3;
  border-radius: 4px;
  outline: none;
  padding: 10px 17px;
}
.input-in:active, .input-out:active {
  background: #F2F2F2;
  border: 2px solid #000000;
  border-radius: 4px;
  outline: none;
  padding: 10px 17px;
}
.input-out {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding-right: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  border: 3px solid transparent;
}
.calendar-in {
  position: absolute;
  top: 14px;
  right: 20px;
}
.calendar-out {
  position: absolute;
  top: 14px;
  right: 20px;
}
.input-modal {
  width: 440px;
  height: 48px;
  padding: 12px 20px;
  gap: 260px;
  background: #F2F2F2;
  border-radius: 4px;
  border: none;
  font: "PT Sans", "Arial", sans-serif;
}
.text-in {
  color: #FF5757;
 ;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 5px;
}
.text-out {
  color: black;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  white-space: nowrap;
  margin-top: 3px;
}
.kids-input {
  width: 40px;
  height: 48px;
  border-radius: 0;
  padding: 14px 10px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}
.adults-input {
  width: 40px;
  height: 48px;
  border-radius: 0;
  padding: 14px 10px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}
.minus {
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
  border: none;
  width: 40px;
  height: 48px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
}
.minus:hover svg path {
  fill: #000000;
}
.plus:hover svg path {
  fill: #000000;
}
.minus:focus svg path{
  border: 3px solid #82B3D3;
  border-radius: 4px;
  fill: #000000;
}
.plus:focus {
  border: 3px solid #82B3D3;
  border-radius: 4px;
  fill: #000000;
}
.minus:focus {
  outline: none;
  border: 3px solid #82B3D3;
  border-radius: 4px;
  fill: #000000;
}
.plus {
  background: #F2F2F2;
  border-radius: 0 4px 4px 0;
  border: none;
  width: 40px;
  height: 48px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
}
.adults-label {
  margin-right: 46px;
  margin-top: 0;
}
.kids-label {
  margin-right: 10px;
  margin-top: 0;
}
.modal-button {
  background: #83B3D3;
  border-radius: 10px;
  border: none;
  width: 577px;
  padding: 18px 77px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
}
.modal-button:hover {
  background: #68A2CA;
  border-radius: 10px;
}
.modal-button:active {
  color: #FFFFFF;
  opacity: 0.3;
  background: #68A2CA;
}
.plus-minus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.ml {
  margin-left: 20px;
}
.info {
  margin-right: 46px;
}
.info-message {
  margin-top: 4px;
}
.info-icon {
  position: relative;
}
.info-icon:hover .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.message {
  position: absolute;
  width: 256px;
  height: 143px;
  left: -115px;
  top: 41px;
  background: #333333;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: white;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 18px 20px 22px;
}
.message::before {
  position: absolute;
  top: -30px;
  left: 108px;
  content: "";
  width: 19px;
  height: 9px;
  border: 20px solid transparent;
  border-bottom: 20px solid #333333;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"], input[type="number"]:hover, input[type="number"]:focus {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: textfield;
}
